ul.nav.nav-pills.nav-stacked role="tablist"
  li.active role="presentation" = link_to '回到首页', website_home_index_path
  li role="presentation" = link_to '类别管理', backend_categories_path
  li role="presentation" = link_to '文章管理', backend_articles_path
