ul.nav.nav-pills.nav-stacked role="tablist"
  li.active role="presentation" = link_to '回到后台', root_path
  - @categories.each do |category|
    li role="presentation" = link_to "#{category.name}", website_home_path(category.id)